#stock {
  text-align: center;
  background-color: black;
  opacity: .7;
  width: 35%;
  height: 200px;
  border: solid gray 3px;
}

#logo {
  position: relative;
  top: 20px;
  width: 120px;
  height: 70px;
  opacity: 1;
  padding-bottom: 30px;
}

#stockInfo {
  font-size: 40px;
}

#stockPrice {
  color: white;
}

#change {
  color: red;
}