#stock {
  text-align: center;
  background-color: lightcyan;
  width: 35%;
  height: 150px;
  border: solid gray 5px;
  border-radius: 20px;
}

#logo {
  position: relative;
  top: 20px;
  width: 110px;
  height: 50px;
  /*background-image: url(./trhcLogo.png);*/
}
