#stock {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  width: 350px;
  height: 200px;
  border: solid gray 2px;
}

#logo {
  position: relative;
  top: 20px;
  width: 130px;
  height: 80px;
  opacity: 1;
  padding-bottom: 30px;
}

#stockInfo {
  font-size: 30px;
}

#stockPrice {
  color: white;
}

#change {
  color: white;
}