#weather {
  text-align: center;
  background-color: black;
  opacity: .7;
  width: 600px;
  height: 600px;
  border: solid gray 3px;
  color: white;
}

#todayCast {
  padding-bottom: 20px;
  padding-top: 10px;
  margin: auto;
  float: center;
  height: 350px;
}

#currentInfo {
  width: 100%;
  height: 300px;
  padding-top: 30px;
}

#currentLeft {
  float: left;
  width: 45%;
  padding-left: 20px;
}

#currentImg {
  height: 150px;
  width: 150px;
}

#currentCondition {
  font-size: 40px;
}

#currentRight {
  float: right;
  width: 45%;
  padding-right: 20px;
  text-align: center;
  margin: auto;
}

#temp {
  font-size: 80px;
  padding-bottom: 20px;
}

#currentExtra {
  font-size: 30px;
  padding-top: 35px;
}

#forecast {
  width: 100%;
  height: 250px;
  border-top: solid gray 3px;
}

#tomorrow {
  float: left;
  width: 50%;
  padding-left: 10px;
}

#tomorrowBox {
  padding-bottom: 20px;
  padding-top: 10px;
  margin: auto;
  float: center;
}

#later {
  float: right;
  width: 45%;
  padding-right: 10px;
  border-right: solid gray 3px;
}

#laterBox {
  padding-bottom: 20px;
  padding-top: 10px;
  margin: auto;
  float: center;
}

#currentHeader {
  font-size: 50px;
  padding-bottom: 20px;
}

.header {
  font-size: 25px;
  padding-bottom: 20px;
}

.info {
  width: 300px;
  height: 200px;
  font-size: 16px;
  padding-top: 20px;
}

.icon {
  height: 75px;
  width: 75px;
}

.condition {
  font-size: 18px;
}

.left {
  float: left;
  width: 120px;
  text-align: center;
}

.right {
  float: right;
  width: 150px;
  padding-right: 30px;
}
